.userForm {
    margin: 0 auto;
    max-width: 900px;
    padding: 20px;
    background-color: rgba(220, 220, 220, 0.3);
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.6;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

h2 {
    text-align: center;
    font-size: 1.8rem;
    color: #252222;
    margin-bottom: 20px;
    grid-column: span 2;
}

.title {
    color: #f0f0f0;
}

.userForm form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
    margin: 0;
}

.userForm div {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

.userForm label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.userForm input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
    font-size: 1rem;
    color: #000000;
}

.userForm input:focus {
    outline: none;
    border-bottom: 2px solid #489e8d;
}

.userForm button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #489e8d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s;
    width: 100%;
    grid-column: span 2;
}

.cancelButton {
    background-color: #f44336;
    margin-top: 20px;
}

.userForm button:hover {
    background-color: #26544b;
}